body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.product-box {
    width: 250px;
    display: inline-block;
    background: white;
    border: 2px solid #ddd;
    padding: 20px;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.product-box img {
    width: 100px;
    height: 100px;
}

.product-box:hover {
    outline: 3px solid #007bff;
    outline-offset: 5px;
}

.product-box a {
    text-decoration: none;
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border-radius: 5px;
}
